<div class="prev">
	<div class="arrow"></div>
</div>
<div class="horizontalShow">
<div class="panel panel-primary interest">
	<div class="panel-heading">{{nls.interestLabel}}</div>
	<div class="panel-body">
		<div class="list-group">
			{{#nls.personInfo.interest}}
				<a class="list-group-item list-group-item-info">{{item}}</a>
			{{/nls.personInfo.interest}}
		</div>
	</div>
</div>
<div class="panel panel-primary learning">
	<div class="panel-heading">{{nls.learningLabel}}</div>
	<div class="panel-body">
		<div class="list-group">
			{{#nls.personInfo.Learning}}
				<a class="list-group-item list-group-item-info">{{item}}</a>
			{{/nls.personInfo.Learning}}
		</div>
	</div>
</div>
</div>
<div class="next">
	<div class="arrow"></div>
</div>