$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-sm-max: 991px;
$screen-lg-min: 1200px;
$screen-md-max: 1199px;
@media (max-width: $screen-xs-max) {
	div{
		background-color: blue;
	}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-lg-min) {

 }
/* IE10 */
@-ms-viewport       { width: device-width; }

/* used for windows phone 8 older than update 3 */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }