#canvasDiv .header {
  display: inline-block;
  position: relative;
  width: 50%; }

@media (max-width: 767px) {
  #canvasDiv .header {
    width: 100%;
    display: block; } }
/* IE10 */
@-ms-viewport {
  width: device-width; }
/* used for windows phone 8 older than update 3 */
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  margin: 0 auto; }

.navbar {
  top: 0px; }
  .navbar li a:hover {
    background-color: blue; }

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .sidebar {
    width: 500px; } }
.contentBody {
  position: relative;
  top: 0px;
  display: block;
  min-height: 660px; }

.subjectText, .footer, .header, #header, .info-header, .contact-header, .experience-header {
  text-align: center;
  font-weight: bolder; }

.footer {
  position: absolute;
  bottom: 0px;
  background-color: grey;
  width: 100%;
  height: 20px; }

.dropdown {
  position: relative;
  top: 0px; }

canvas {
  border: 1px solid black; }

.header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 40px;
  z-index: 999;
  font: 20px/24px fantasy;
    font-weight: bolder; }
  .header div font {
    size: 18px;
    weight: bold;
    family: fantasy; }

#intro, #proj, #exp {
  width: 100;
  position: relative; }
  #intro div.panel-primary, #proj div.panel-primary, #exp div.panel-primary {
    display: inline-block;
    margin: 30px; }
  #intro div.prev, #intro div.next, #proj div.prev, #proj div.next, #exp div.prev, #exp div.next {
    box-shadow: 0px 10px 5px #888888;
    top: 40px;
    bottom: 20%;
    position: absolute;
    width: 50px;
    height: 80%;
    border: 1px solid white;
    background-color: white;
    opacity: 0.8;
    z-index: 6; }
    #intro div.prev:hover, #intro div.next:hover, #proj div.prev:hover, #proj div.next:hover, #exp div.prev:hover, #exp div.next:hover {
      opacity: 1; }

.horizontalShow {
  width: 1000px; }

div.arrow {
  position: absolute;
  z-index: 5;
  top: 100px;
  width: 20px; }

.prev .arrow {
  border-top: 30px solid transparent;
  border-right: 30px solid yellow;
  border-bottom: 30px solid transparent; }

.next {
  right: 0px;
  background-color: white; }
  .next .arrow {
    border-top: 30px solid transparent;
    border-left: 30px solid yellow;
    border-bottom: 30px solid transparent; }

.paddingSubject {
  padding: 50px 50%;
  position: absolute; }

/*
  css for iscroll
*/
#scrollable {
  position: absolute;
  top: 45px;
  bottom: 48px;
  left: 0;
  width: 100%;
  height: device-height;
  overflow: hidden; }

.item-1 {
  width: 2em; }

.item-2 {
  width: 2em; }

#scroller {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  @error "wsdfs";
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-touch-callout: none; }
  #scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left; }
  #scroller li {
    padding: 0 10;
    display: inline-block;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    font-size: 14px; }
