/* IE10 */
@-ms-viewport {
  width: device-width; }
/* used for windows phone 8 older than update 3 */
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
